.modal-body {
    padding: 15px;
    overflow-y: auto;
}
.productAdd .modal-body,.productEdit .modal-body{
    height: 800px;
}
.modal-footer button, .modal-footer button:hover, .modal-footer button:focus, .modal-footer button:visited {
    color: #FFF;
    margin-top: 20px;
}

.modal-footer input, .modal-footer input:hover, .modal-footer input:focus, .modal-footer input:visited {
    color: #FFF;
    margin-top: 20px;
}

.modal-body .contract {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.partnerAdd .form-horizontal, .partnerEdit .form-horizontal, .productAdd .form-horizontal, .productEdit .form-horizontal {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 30px 0 0;
    overflow: hidden;
}

hr.wide {
    width: 102%;
    margin-left: 0;
    margin-right: 0;
    border: 1px dashed #e5e5e5;
}

#contractManage hr.wide {
    margin-left: -8px;
}

#contractAdd {
    margin-bottom: 0;
}

.contractAdd .contract-line, .contractEdit .contract-line {
    margin-left: -20px;
    width: 104%;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.fa-plus-circle, .fa-minus-circle {
    font-size: 20px;
    margin-left: 4px;
    cursor: pointer;
}

.partnerAdd .fa-minus-circle, .partnerEdit .fa-minus-circle, .productAdd .fa-minus-circle, .productEdit .fa-minus-circle {
    display: none;
}

.form-horizontal .form-group.margin-left {
    margin-left: -25px;
}

/*合同管理*/
.add-btn {
    margin-bottom: 20px;
}

.common-label {
    margin-left: -34px;
}

.common-10 {
    width: 86%;
}

span.blue {
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

.widget-body {
    padding: 20px;
    overflow: auto;
}

.widget-header {
    min-height: 40px;
    line-height: 40px;
    padding-right: 12px;
}

.widget-header > .widget-caption {
    font-size: 16px;
    line-height: 36px;
}

.widget-header .widget-icon {
    height: 40px;
    line-height: 40px;
}

.contractManage {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px !important;
}

.contractAdd .form-horizontal, .contractEdit .form-horizontal {
    padding: 15px;
}

.contractAdd .modal-lg, .contractEdit .modal-lg, .productAdd .modal-lg, .productEdit .modal-lg {
    width: 1000px;
}

hr.wide.dateLine {
    position: relative;
    left: -22px;
    border-style: solid;
}

.addIssue, .addRebates {
    margin-left: -50px;
    position: relative;
}

.fa-minus-circle {
    position: relative;

}

.remarks {
    width: 82.5%;
}

.contractInfo {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    z-index: 999;
    top: 11px;
}

.productInfo {
    display: none;
}

.close {
    opacity: .8;
}

div.dropdown-menu {
    border: 0 !important;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);

}

div.dropdown-menu .dropdown-menu {
    border: 0 !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline-style: none !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #fff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #333;
}

@media (min-width: 768px) {
    .address {
        width: 75.5%;
    }
}

.paymentRemark, .paymentAmount {
    margin-left: -30px;
}

.chosen-select {
    color: #858585;
}

.chosen-container-multi .chosen-results {
    min-height: 0;
    height: auto;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: auto !important;
}

.btn-toolbar {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 18px;
    padding-top: 10px;
    border-width: 1px 1px 0px;
    border-style: solid solid solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
    border-bottom: 0px;
}

.wide {
    clear: both;
}

.dialogueRecord label.control-label {
    padding-right: 5px;
}

.dropdown-header {
    line-height: 24px;
    padding-left: 13px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.widget-header.bordered-bottom {
    border-bottom: 2px solid #fff;
}

.widget-buttons > [data-toggle="dispose"] i {
    font-size: 18px;
    position: relative;
}

#kvFileinputModal .modal-title {
    width: 200px;
    top: 10px;
}

#kvFileinputModal .modal-title small {
    display: none;
}

#kvFileinputModal .kv-zoom-actions {
    position: relative;
    top: 5px;
    right: 14px;
}

.partnerAdd .add-button {
    display: inline-block;
}

.widget-nameTitle{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-top: -10px;
}
.nameTitle-name,.nameTitle-state{
    font-size: 16px;
}

.tabbable-center{
    width: 90%; 
}

.DynamicImage img {
    width: 41px;
    height: 41px;
}

.dynamic-head-left {
    font-size: 12px;
    color: blue;
}

.dynamic-head-right {
    font-size: 12px;
    color: #ccc;
}

.dynamic-content {
    text-align: center;

}

.dynamic-content1-left {
    border: 1px solid #888888;
    padding: 5px;
}

.dynamic-content1-right {
    border: 1px solid #799153;
    padding: 5px;
    color: #799153;
}

.media-footer {
    color: #ccc;
}

.glyphicon-arrow-right {
    color: #ccc;
}

.center-sel {
    border: none !important;
    height: 38px !important;
    padding: 0 !important;
    height: 36.01px !important;
}

.media-wen {
    border: 1px solid #eee !important;
}

.media-body-content {
    padding: 10px;
}

.talk-right {
    float: right;
    color: #71b7e5;
}

.talk-right a {
    color: #71b7e5;
    padding-right: 5px;
}

.media-talk {
    background: #eee;
}

.media-headphones {
    width: 18px;
    height: 18px;
    background: #71b7e5;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding-top: 2px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.media-headphones:hover, .media-headphones:visited {
    color: #fff;
}

.server-head {
    width: 84px;
    height: 74px;
    margin-right: 5px;
}

.server-pic {
    margin-left: -14px;
    margin-bottom: 20px;
    position: relative;
}

.server-pic .center-iconr {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #169bd5;
    font-size: 16px;
}

.server-pic .center-iconl {
    position: absolute;
    right: 30px;
    top: 5px;
    color: #169bd5;
    font-size: 16px;
}

.all-dowload {
    margin-top: 20px;
    margin-left: -8px;
}

.dowload-zi {
    margin-left: 11px;
}

.btn-info{
    margin: 10px;
}

.trademark{
    width: 20%;
    float: left;
    font-size: 14px;
}

.material-course{
    width: 100%;
    border: 1px solid #bbbbbb;
}

.course-title{
    text-align: center;
    line-height: 30px;
    background-color: #dddddd;
}

.course{
    padding: 10px;
}

.course-tab{
    padding: 10px;
    
}

.detail-btn{
    margin-left: 40px;
    vertical-align: top;
    height: 24px;
    line-height: 14px;
    margin-top: 3px;
}

.plan-box{
    padding: 20px;
}

.plan-btn{
    padding: 12px;
    
}

.info-btns{
    position: fixed;
    top: 300px;
    right: 30px;   
}

.btns-block{
    width: 100px;
    display: block;
}

.px-int{
    margin-top: 10px;
}

.glyphicon-plus-sign{
    font-size: 24px;
}

.glyphicon-minus-sign{
    font-size: 24px;
    color:	#FF0000;
}

.discounts-form{
    display: none;
}

.modal-body{
    max-height: 800px;
    overflow-y: auto;
}