.modal-header{
	border-bottom:2px solid #2dc3e8!important;
	background:none!important;
}
.modal-header span{
	color:#333;
	font-size:16px;
	
}
textarea{
	width:100%;
	resize:vertical;
	min-height:100px;
}
.margin-left_24{
	margin-left:-24px;
}
textarea.yijian{
	min-height:280px;
}

.bg_white{
	background:#fff!important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.tab-content.tabs-flat{
	border-top:1px solid #2DC3E8!important;
}
.tab-content_1 {
	background:#fff!important;
}
.nav-tabs > li:first-child > a{
	border-left:none!important;
}