.adjustmentAdd .modal-dialog,.adjustmentEdit .modal-dialog {
    margin-top: 10%;
}

.modal-body {
    overflow: inherit;
}

.adjustment .modal-dialog {
    margin-top: 10%;
}


.search .search-btn, .increase {
    width: 85px;
}