.userCategoryAdd  .modal-dialog,.userCategoryEdit .modal-dialog{
    margin-top: 10%;
}
.userCategoryAdd #userCategoryAdd,.userCategoryEdit #userCategoryEdit{
    margin-top: 10px;
}
.modal-footer button,.modal-footer button:hover,.modal-footer button:focus{
    margin-top: 0;
}