.table > tbody > tr > td.details {
    padding: 30px;
}

.table > tbody > tr > td.details .table {
    background-color: transparent;
    width: 50%;
    margin-left: 26%;

}

.table > tbody > tr > td.details .table > tbody > tr > td {
    border: 0;
}

/*添加用户*/
.addUser .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.addUser .radio label, .checkbox label {
    padding-left: 16px;
    margin-right: 25px;
}

.addUser .widget-header {
    min-height: 45px;
    border-bottom: 1px solid #D9E3EB;
}

.addUser .widget-buttons {
    height: 45px;
    line-height: 45px;
}

.addUser .widget-body {
    padding: 0;
}

.addUser .widget-body .addUser-guide {
    background-color: #4fa9cf;
    border-bottom: 1px solid #D9E3EB;
    padding-bottom: 15px
}

.addUser .widget-body .addUser-guide .progress {
    width: 713px;
    height: 16px;
    line-height: 16px;
    border-radius: 4px;
    padding: 4px;
    margin: 0 auto;
    top: 40px;
}

.addUser .widget-body .addUser-guide .progress .progress-bar {
    height: 8px;
    border-radius: 4px;
    width: 18%;
}

.addUser .widget-body .addUser-guide .steps {
    font-size: 16px;
    font-family: "Arial";
    color: #FFF;
}

.addUser .widget-body .addUser-guide .steps {
    position: relative;
    width: 713px;
    margin: 0 auto;
    top: 7px;
    left: 109px;
}

.addUser .widget-body .addUser-guide .steps span {
    width: 42px;
    height: 42px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    display: block;
    font-size: 26px;
    font-family: "Arial";
    color: #FFF;
    border: 4px solid #FFF;
    background-color: #9E9E9F;
}

.addUser .widget-body .addUser-guide .steps .step2 {
    position: relative;
    right: -229px;
}

.addUser .widget-body .addUser-guide .steps .active span {
    background-color: #f06960;
}

.addUser .widget-body .addUser-guide .steps .title {
    margin-left: -7%;
    margin-top: 21px;
}

.addUser .addUser-content {
    padding-top: 20px;
    padding-bottom: 40px;
}

.addUser .addUser-content .step-pane {
    width: 95%;
    border: 1px solid #dce5ec;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #e0e5e9;
    margin: 0 auto;
}

.addUser .addUser-content .dentifying i {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    border-radius: 11px;
    font-style: normal;
    color: #f06960;
    border: 1px solid #f06960;
}

.addUser .addUser-content .step-pane .step-title {
    margin: 0;
    font: 16px "microsoft yahei";
    font-weight: bold !important;
    border-bottom: 2px solid #439cee;
    line-height: 16px;
    padding: 16px 18px;
}

.addUser .addUser-content .step-pane .basic-info {
    padding: 20px 32px;
}

.mandatory {
    color: #f06960;
    text-align: center;
}

.addUser .addUser-content .step-pane .basic-info .form-group > label {
    text-align: right;
    padding-right: 0;
}

.addUser button {
    font-size: 16px;
    margin-top: 20px;
}

#step1 .form-group {
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
}

#step1 .dentifying {
    margin-left: 102px;
    position: relative;
    top: 12px;
}

.addUser #step2 .step-pane {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.timeline > li.timeline-inverted > .timeline-panel:before {

}

.addUser #step2 .timeline:before {
    width: 1px;
    box-shadow: none;
    background-color: #dae4eb;
}

.addUser #step2 .timeline:before, .addUser #step2 .timeline > li .timeline-badge {
    left: -55px;
    top: 5px;
    bottom: 180px;
}

.addUser #step2 .timeline > li .timeline-badge {
    display: none;
}

.addUser #step2 .timeline > li.timeline-inverted > .timeline-panel {
    float: none;
    width: 100%;
}

.addUser #step2 .timeline > li.timeline-inverted > .timeline-panel {
    border: 1px solid #dce5ec;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #e0e5e9;
}

.addUser #step2 .step-title {
    position: relative;
}

.addUser #step2 .collapse-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid #dce5ec;
    float: right;
    top: 0;
    right: 0;
}

.addUser #step2 .collapse-btn i.fa-angle-down {
    font-size: 24px;
    position: absolute;
    left: 20%;
    top: 20%;
}

.timeline > li .timeline-badge i {
    line-height: 37px;
}

.timeline-body .glyphicon-plus-sign,
.timeline-body .glyphicon-minus-sign {
    font-size: 16px;
    cursor: pointer;
}

.timeline-body tr:first-child .glyphicon-plus-sign,
.timeline-body tr:first-child .glyphicon-minus-sign {
    position: relative;
    /*top: 4px;*/
}

.timeline-body tbody tr td:first-child {
    width: 10%;
}

.timeline-body .table-bordered > tbody > tr > td {
    padding-top: 14px;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    cursor: pointer;
}
.native-place{
    margin-left: -127px;
}
.province2{
    width: 28.7%;
}
.city2{
    width: 22.5%
}
.district2{
    width:28.6%;
}
.text-common{
    margin-left: -10px;
}
.contract-endDate{
    margin-left: 4px;
}
.timeline > li > .timeline-panel:before,.timeline > li > .timeline-panel:after{
    display: none;
}
.state-search.form-control,.search-btn.form-control{
    padding: 6px;
}
/*修改密码*/
.changeUserPassword  .modal-dialog{
    margin-top: 10%;
}
.changeUserPassword .help-block{
    position: relative;
}
.changeUserPassword .form-group {
    margin-bottom: 22px;
}

.permissionTree{
    width: 49%;
}
#tree1, #tree2,#tree3, #tree4,#tree5, #tree6, #tree7, #tree8 {
    margin-top: 10px;
    border: 1px solid #ccc;
    height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
}
#tree2,#tree4, #tree6{
    height: 447px;
}
.permission-btn{
    border: 1px solid #ccc;
    border-top: 0;
    padding-bottom: 10px;
}
ul.tmpTargetzTree{
    background-color: rgba(0,0,0,0.1);
}
.dataPermission .modal-dialog,.pagePermission .modal-dialog,.buttonPermission .modal-dialog{
    margin-top: 8%;
}

.timeline > li > .timeline-panel .timeline-body{
    padding-top: 20px;
}
