
body {
    font-family: "微软雅黑";
}

li {
    list-style: none;
}

a, a:hover {
    color: #2D3541;
    text-decoration: none;

}

.btn-use, .btn-use:hover, .btn-use:focus {
    background: #97ab38;
    color: #fff
}

.btn-nouse, .btn-nouse:hover {
    background: #7f8993;
    color: #fff
}

.increase, .increase:hover {
    background: #439cee;
    color: #fff;
    border-radius: 3px
}

h5.row-title {
    min-width: 148px;
    padding: 14px 10px 14px 38px;
}

input[type="search"] {
    border-radius: 34px !important;
}

.input-icon.icon-right > input {
    padding-left: 15px;
}

/*下拉菜单*/
.drop-down {
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.drop-down > .sidebar-menu > li > .menu-dropdown {
    border-bottom: 2px solid #2D3541;
    border-top: 1px solid #E9EFF3;
}

.drop-down > .sidebar-menu > li > .menu-dropdown:hover, .drop-down > .sidebar-menu > li > .menu-dropdown:focus, .drop-down > .sidebar-menu > li > .menu-dropdown:visited {
    background-color: #fff;
}

.drop-down > .sidebar-menu .submenu a {
    display: block;
    line-height: 40px;
    width: 100%;
    padding-left: 7%;
    padding-right: 5%;
}

.drop-down > .sidebar-menu .submenu {
    position: relative;
}

.drop-down > .sidebar-menu .submenu:before, .drop-down > .sidebar-menu .submenu > li .submenu:before {
    content: "";
    display: block;
    position: absolute;
    left: 45px;
    top: 0;
    bottom: 20px;
    border-left: 1px solid #e2e2e2;
}

.drop-down > .sidebar-menu .submenu > li > a {
    position: relative;
}

.drop-down > .sidebar-menu .submenu > li > a:before, .drop-down > .sidebar-menu .submenu > li .submenu li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 2px;
    top: 18px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    z-index: 2;
}

.drop-down > .sidebar-menu .submenu > li > a .fa-angle-right {
    margin-top: 11px;
}

.drop-down > .sidebar-menu .submenu > li.open > a {
    background-color: #fff;
}
.modal.fade .modal-dialog {
    margin: 120px auto;
}

