button.form-control, button.form-control:hover, button.form-control:focus, button.form-control:visited {
    color: #FFF;
}

.btn-toolbar {
    border: 1px solid #ccc;
    padding-top: 5px;
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 18px;
}

table > tbody > tr > td a {
    margin-right: 10px;
}

table > tbody > tr > td a i {
    font-size: 18px;
}

.modal .form-group, .newinformsee form .form-group {
    margin-right: 0;
    margin-left: 0;
}

.bs-actionsbox div button.actions-btn {
    width: 68px !important;
}