@import '/px2rem.styl'

html
  width 100%
  height 100%
  box-sizing: border-box
  body
    width 100%
    height 100%
    div
      padding px(40)
      h2
        text-align: center
        font-size: px(40)
        font-weight: bold
      h3 
        text-align: right
        font-size: px(28)
        margin px(10)
        padding-right px(20)
      h4 
        font-weight: bold
        text-indent: px(36)
        font-size: px(30)
        line-height: px(46)
      p
        line-height: px(50)
        font-size: px(30)
        &.com1
          background-color: #eaf1fb
          color: #167ac8
          box-sizing: border-box
          border-left: px(2) solid #167ac8
          font-size: px(28)
          font-weight: bold
          margin: px(28) 0
          padding-left: px(18)
          height px(64)
          line-height px(66)
        &.com2
          font-weight: bold;
          padding: px(10) 0
        &.indent2
          text-indent: px(30);
